html {
  font-size:  5.2vw;
  @include media-breakpoint-up(md) {
    font-size: 1.95vw;
  }
}

.display-1 {
  font-size: 3.55rem;
  @include media-breakpoint-up(md) {
    font-size: 5rem;
  }
}

body {
  background: $body-bg;
  color: $white;
}

a, p, span, li, .card-body {
  margin: 0;
  color: $white;
  font-weight: 300;
  font-size: .85rem;
  line-height: 1.4;
  @include media-breakpoint-up(md) {
    font-size: .6rem;
  }
}

.logo-mai {
  width: 2.8rem;
  @include media-breakpoint-up(md) {
    width: 2rem;
  }
}

.x-decor {
  width: 1.2rem;
  @include media-breakpoint-up(md) {
    width: .8rem;
  }
}

.logo-TI {
  width: 4.1rem;
  @include media-breakpoint-up(md) {
    width: 2.5rem;
  }
}

.logo-academ {
  width: 8.5rem;
  @include media-breakpoint-up(md) {
    width: 8.5rem;
  }
}

.hero-circle {
  position: absolute;
  left: -25%;
  width: 155%;
  @include media-breakpoint-up(md) {
    left: 25%;
    width: 55%;
  }
}

.green-arrow {
  width: 10rem;
  @include media-breakpoint-up(md) {
    width: 13rem;
  }
}

.sparkle {
  width: 8rem;
  @include media-breakpoint-up(md) {
    width: 8.65rem;
  }
}

.rounded-accordion {
  border-radius: 2rem !important;
  @include media-breakpoint-up(lg) {
    border-radius: 3rem !important;
  }
}

.text-linear-gradient {
  background: linear-gradient($primary, $success);
  //background: linear-gradient(#0262e4, #7359ff);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.fs-accordion-btn {
  font-size: 2.5rem;
  @include media-breakpoint-up(md) {
    font-size: 3.5rem;
  }
}

.fs-accordion-title {
  font-size: 1.25rem;
  line-height: 1.25;
  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

.fs-accordion-text-body {
  font-size: .8rem;
  line-height: 1.25;
  @include media-breakpoint-up(md) {
    font-size: 1.15rem;
    line-height: 1.2;
  }
}

.fs-accordion-text-body-number{
  font-size: 1.6rem;
  line-height: 1.2;
  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

.text-intro {
  color:$dark;
  font-weight: 700;
  font-size: 1.85rem;
  line-height: 1;
  @include media-breakpoint-up(md) {
    width: 60%;
    font-size: 2.8rem;
  }
}

.msg-success-left {
  max-width: 16rem;
  background: $success;
  border-radius: 1.4rem;
  border-bottom-left-radius: 0;
  border: none;
  padding: 1rem;
  margin-left: -.1rem;
  @include media-breakpoint-up(md) {
    max-width: 32rem;
    padding: 1.4rem;
  }
}

.msg-secondary-left {
  max-width: 16rem;
  background: #666666;
  border-radius: 1.4rem;
  border-bottom-left-radius: 0;
  border: none;
  padding: 1rem;
  margin-left: -.1rem;
  @include media-breakpoint-up(md) {
    max-width: 32rem;
    padding: 1.4rem;
  }
}

.msg-text-success {
  color: $dark;
  font-size: 1rem;
  line-height: 1.25;
  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
  }
}

.msg-text-secondary {
  color: $light;
  font-size: 1rem;
  line-height: 1.25;
  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
  }
}


.round-success-left {
  --scale: 1.2;
  background: radial-gradient(circle at -35% 35%, rgba(0,0,0,0) calc(3.1rem * var(--scale)), $success 0px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  width: calc(2rem * var(--scale));
  height: calc(3.5rem * var(--scale));
}

.round-secondary-left {
  --scale: 1.2;
  background: radial-gradient(circle at -15% 30.5%, rgba(0,0,0,0) calc(2.8rem * var(--scale)), #666666 0px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  width: calc(2rem * var(--scale));
  height: calc(3.5rem * var(--scale));
}

.card-hover, .hover-up {
  transition: all .2s ease-in-out;
  &:hover {
    transform: translateY(-0.25rem);
  }
}